<div class="dashboard-container">
  <h1 class="dashboard-title">E-Commerce Admin Dashboard</h1>

  <div class="stats-cards">
    <div class="card">
      <h2>Total Sales</h2>
      <p>${{dashboardDto.totalSales}}</p>
    </div>
    <div class="card">
      <h2>Orders</h2>
      <p>{{dashboardDto.totalOrders}}</p>
    </div>
    <div class="card">
      <h2>Customers</h2>
      <p>{{dashboardDto.totalCustomers}}</p>
    </div>
    <div class="card">
      <h2>Revenue</h2>
      <p>${{dashboardDto.totalRevenue}}</p>
    </div>
  </div>

  <div class="charts-section">

    <div class="chart-row">
      <!-- First Pie Chart -->
      <div class="chart-box">
        <h3>Sales by Electronics</h3>
        <ngx-charts-pie-chart
          [results]="pieData"
          [legend]="true"
          [doughnut]="true"
          [labels]="true"
          [animations]="true">
        </ngx-charts-pie-chart>
      </div>

      <!-- Second Pie Chart -->
      <div class="chart-box">
        <h3>Sales by Clothing</h3>
        <ngx-charts-pie-chart
          [results]="secondPieData"
          [legend]="true"
          [doughnut]="true"
          [labels]="true"
          [animations]="true">
        </ngx-charts-pie-chart>
      </div>
    </div>

    <!-- Bar Chart -->
    <div class="chart-box">
      <h3>Monthly Revenue</h3>
      <ngx-charts-bar-vertical
        [results]="barData"
        [scheme]="colorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [animations]="true">
      </ngx-charts-bar-vertical>
    </div>

  </div>


  <div class="multi-series-chart">
    <h3>Sales and Orders Overview</h3>
    <ngx-charts-line-chart
      [results]="multiSeriesData"
      [scheme]="colorScheme"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [animations]="true">
    </ngx-charts-line-chart>
  </div>

  <div class="top-customers">
    <h3>Top Customers</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Orders</th>
        <th>Total Spent</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of topCustomer">
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>${{customer.price}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
