<div class="admin-sidebar" [class.show]="sidebarVisible">
  <h5 class="p-3">Admin Privileges</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a routerLink="/addProduct">Add Product</a></li>
    <li class="list-group-item"><a routerLink="/dashBoard">Admin Dashboard</a></li>
    <li class="list-group-item"><a routerLink="/updateProduct">Update product</a></li>
    <li class="list-group-item text-danger" style="cursor:pointer;" (click)="toggleSidebar()">Close</li>
  </ul>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <img class="nav-image" src="https://res.cloudinary.com/diwak35f5/image/upload/v1747498998/shopping_hkxrwi.png" alt="icon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      @if (role=="CUSTOMER"){
        <li class="nav-item active">
          <a class="nav-link" routerLink="/homePage">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewProduct">Available Items</a>
        </li>

      }

      @if (role=="ADMIN"){
        <li class="nav-item dropdown" >
          <a class="nav-link" (click)="toggleSidebar()">
            Admin Privileges
          </a>

        </li>
      }

    </ul>
    <!-- Right side cart icon -->

    <ul class="navbar-nav ms-auto">
      @if (role=="CUSTOMER"){
        <li class="nav-item me-5">
        <span class="navbar-text position-relative" routerLink="/selectedItems">
          <i class="pi pi-shopping-cart" style="color: black; font-size: 1.6rem;"></i>
          <span class="cart-badge">{{ numberOfQuantities }}</span>
        </span>
        </li>
      }
      <li class="nav-item dropdown me-5" [class.show]="isDropdownOpen">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
           (click)="toggleDropdown($event)">
          <i class="pi pi-user" style="font-size: 1.5rem"></i>

        </a>
        <ul class="dropdown-menu dropdown-menu-end"
            [class.show]="isDropdownOpen"
            aria-labelledby="profileDropdown">
          <li><a class="dropdown-item" routerLink="/account">Account</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>



