<!--<h1>Display product</h1>-->
<div class="banner">
  <img src="https://res.cloudinary.com/diwak35f5/image/upload/v1743934160/bg_x3vkem.png" alt="Cart Icon" class="cart-icon" height="919" width="736"/>
  <div class="banner-text">
    <h1>Welcome to Our Store</h1>
    <p>Explore the latest in Electronics & Fashion</p>
  </div>
</div>

<div class="product-grid">
  <div class="product-card" *ngFor="let product of products" [@fadeIn]>
    <img [src]="product.imageUrl"  alt="{{ product.name }}" class="product-img" />
    <h3>{{ product.name }}</h3>
    <p class="price">Rs. {{ product.price }}</p>
    <p class="desc">Quantity : {{ product.quantity }}</p>
    <button class="add-btn">Add to Cart</button>

  </div>
</div>
