

<!-- shopping-cart.component.html -->
<div class="container shopping-cart">
  <h2>Shopping Cart</h2>
  <div class="sort-section">
    <label for="sortBy">Sort by:</label>
    <select id="sortBy" [(ngModel)]="sortOption" (change)="sortProducts()">
      <option value="price">Price</option>
      <option value="price">Product Name</option>

      <!-- Add other sorting options if needed -->
    </select>
  </div>

  <div class="cart-item" *ngFor="let product of selectedItems">
    <div class="cart-item-details">
      <img [src]="product.imageUrl" alt="Product image">
      <div>
        <h4>{{ product.productName }}</h4>
        <p>Description: {{ product.description }}</p>
      </div>
    </div>
    <div class="cart-item-controls">
      <button (click)="remove(product)">-</button>
      <input type="text" [(ngModel)]="product.quantity" readonly>
      <button (click)="addItem(product)">+</button>
    </div>
    <div class="cart-item-price">
      <h5>${{ (product?.price ?? 0) * (product?.quantity ?? 0) }}</h5>

    </div>
    <div class="cart-item-remove">
      <button (click)="confirmDeletingTheProduct(product.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3-fill" viewBox="0 0 16 16">
          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
        </svg>

      </button>
    </div>
  </div>

  <div class="discount-section">
    <input type="text" placeholder="Discount code" [(ngModel)]="discountCode">
    <button (click)="applyDiscount()">APPLY</button>
  </div>

  <div class="checkout-section">
    <button (click)="checkoutForm()">PROCEED TO PAY</button>
  </div>
</div>




