.container {
  max-width: 800px;
  padding-bottom: 400px;
}

.table {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.table-dark {
  background-color: #343a40;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.btn-primary {
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.pagination .page-link {
  color: #007bff;
  cursor: pointer;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
  cursor: not-allowed;
  opacity: 0.6;
}

table thead th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
}

table tbody tr:hover {
  background-color: #f3f6f9;
}

.btn-outline-primary {
  border-radius: 20px;
  font-weight: 500;
}

.table th, .table td {
  font-size: 1.25rem; /* Increase text size */
  padding: 1.5rem 2rem; /* Bigger cell spacing */
}

.btn-lg {
  font-size: 1.1rem;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  border-radius: 16px !important;
  box-shadow: none !important;
  background: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

